.container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--heading-color);
  align-items: center;
  margin: 2rem 0;
  border-bottom: 1px solid;
  padding: 2rem;
}

.menuItem {
  font-size: 1.5rem;
}

.socialMedia {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin: 1rem 0;
}

.reactIcons {
  color: var(--heading-color);
  cursor: pointer;
  padding: 1rem;
  box-shadow: 4px 4px 0 0 var(--heading-color);
  border: 1px solid var(--heading-color);
}

.reactIcons:hover {
  color: var(--highlight-color)
}

.closedNav {
  display: none;
}

.mainCont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
}

.borderImg {
  display: none;
}

@media only screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .closedNav {
    display: flex;
  }

  .borderImg {
    display: flex;
    position: fixed;
    left:0;
    top: 51%;
    z-index: -1;
  }
}
