.aboutCont {
  border: 3px solid var(--main-text-color);
  border-radius: 60px;
  padding: 2rem;
  width: 100%;
  background-color: var(--background-color);
}

.aboutCont>p {
  line-height: 3rem;
}

@media only screen and (min-width: 1350px) {
  .aboutContainer {
    width: 50%;
  }
}
