
.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem;
}

.aboutCont {
  border: 3px solid var(--main-text-color);
  border-radius: 60px;
  padding: 2rem;
  width: 100%;
  background-color: var(--background-color);
}

.aboutCont>p {
  line-height: 3rem;
}

@media only screen and (min-width: 1350px) {
  .aboutCont {
    width: 50%;
  }
}
