
.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem 0;
}

.aboutCont {
  border: 3px solid var(--main-text-color);
  border-radius: 60px;
  padding: 2rem;
  width: 50%;
}

.aboutCont>h2 {
  margin: 1rem 0;
}

.aboutCont>p {
  line-height: 3rem;
}
